.wrapper {
    width: 320px;
    height: 470px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container {
    background-color: #ffffff;
    position: relative;
    height: 360px;
    border-radius: 8px;
    -webkit-box-shadow: 0 30px 40px rgb(68, 52, 2, 0.3);
    box-shadow: 0 30px 40px rgb(68, 52, 2, 0.3);
}
p {
    margin-top: 100px;
    text-align: center;
}
p a {
    color: #6b46c1;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

:root {
    --cake-color: #fad29d;
    --icing-color: #ae77fa;
    --icing-highlight: #dbc7f7;
}

body {
    background: #c3f7ca;
}

.box-canvas {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 150px;
    height: 170px;
}

.plate {
    position: absolute;
    top: 230px;
    width: 190px;
    height: 90px;
    background: #bfbfbf;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.cake-side {
    position: absolute;
    top: 105px;
    width: 150px;
    height: 90px;
    background: var(--cake-color);
    border-radius: 0 0 50% 50%;
    overflow: hidden;
}

.cake-side::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 90px;
    background: #fff8ef;
    border-radius: 0 0 50% 50%;
    top: -20px;
}

.cake-side::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 90px;
    background: var(--cake-color);
    border-radius: 0 0 50% 50%;
    top: -30px;
}

.cake-top {
    position: absolute;
    top: 70px;
    width: 150px;
    height: 75px;
    background: var(--icing-color);
    border-radius: 50%;
    border-bottom: 4px solid var(--icing-highlight);
}

.drips {
    position: absolute;
    display: flex;
    width: 150px;
    height: 70px;
    top: 105px;
}

.drip:nth-child(1) {
    height: 50px;
    width: 20px;
}

.drip:nth-child(2) {
    height: 50px;
    width: 15px;
}

.drip:nth-child(3) {
    height: 50px;
    width: 20px;
}

.drip:nth-child(4) {
    height: 60px;
    width: 25px;
}

.drip:nth-child(5) {
    height: 65px;
    width: 25px;
}

.drip:nth-child(6) {
    height: 50px;
    width: 20px;
}

.drip:nth-child(7) {
    height: 60px;
    width: 15px;
}

.drip:nth-child(8) {
    height: 35px;
    width: 10px;
}

.drip {
    background: var(--icing-color);
    border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

.bottom-layer,
.top-layer,
.middle-layer {
    height: 50px;
    width: 160px;
    position: relative;
    margin: auto;
    background-repeat: repeat;
    background-size: 100% 100%, 60px 100px;
    background-position: 28px 0;
}
.middle-layer {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    top: 172px;
    -webkit-animation: rise-1 3s forwards;
    animation: rise-1 3s forwards;
    z-index: 1;
}
@-webkit-keyframes rise-1 {
    100% {
        top: 7px;
        -webkit-transform: scale(0.82);
        -ms-transform: scale(0.82);
        transform: scale(0.82);
    }
}
@keyframes rise-1 {
    100% {
        top: 10px;
        -webkit-transform: scale(0.82);
        -ms-transform: scale(0.82);
        transform: scale(0.82);
    }
}
.top-layer {
    z-index: 2;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    top: 144px;
    -webkit-animation: rise-2 2s 2s forwards;
    animation: rise-2 2s 2s forwards;
}
@-webkit-keyframes rise-2 {
    100% {
        top: 26px;
        -webkit-transform: scale(0.68);
        -ms-transform: scale(0.68);
        transform: scale(0.68);
    }
}
@keyframes rise-2 {
    100% {
        top: 26px;
        -webkit-transform: scale(0.68);
        -ms-transform: scale(0.68);
        transform: scale(0.68);
    }
}

.candle {
    z-index: 4;
    background: repeating-linear-gradient(45deg, #7013f2 0, #7013f2 5px, #dbc7f7 5px, #dbc7f7 10px);
    height: 45px;
    width: 15px;
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation: rise-3 1s 4s forwards;
    animation: rise-3 1s 4s forwards;
    border-radius: 20% 20% 20% 20%;
}
@-webkit-keyframes rise-3 {
    100% {
        bottom: 202px;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes rise-3 {
    100% {
        bottom: 65px;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
.candle:after {
    content: "";
    position: absolute;
    opacity: 0.7;
    background: #ff0;
    height: 20px;
    width: 20px;
    bottom: 50px;
    left: -2.5px;
    transform: rotate(45deg);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    animation: flaming 3s ease-in-out infinite;
}
.inner-fire {
    position: relative;
    background: #ffb62d;
    width: 12px;
    height: 12px;
    bottom: 17px;
    left: 2px;
    transform: rotate(45deg);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    animation: flaming-inner 2s ease-out infinite;
}

@-moz-keyframes flaming-inner {
    50% {
        transform: scale(1.1) rotate(45deg) translate(-1px, -1px);
    }
}
@-webkit-keyframes flaming-inner {
    50% {
        transform: scale(1.1) rotate(45deg) translate(-1px, -1px);
    }
}
@-o-keyframes flaming-inner {
    50% {
        transform: scale(1.1) rotate(45deg) translate(-1px, -1px);
    }
}
@keyframes flaming-inner {
    50% {
        transform: scale(1.1) rotate(45deg) translate(-1px, -1px);
    }
}

@-moz-keyframes flaming {
    50% {
        transform: scaleY(0.9) rotate(45deg) translate(3px, 3px);
    }
}
@-webkit-keyframes flaming {
    50% {
        transform: scaleY(0.9) rotate(45deg) translate(3px, 3px);
    }
}
@-o-keyframes flaming {
    50% {
        transform: scaleY(0.9) rotate(45deg) translate(3px, 3px);
    }
}
@keyframes flaming {
    50% {
        transform: scaleY(0.9) rotate(45deg) translate(3px, 3px);
    }
}

@-webkit-keyframes flame {
    100% {
        -webkit-transform: scale(1) rotate(45deg);
        transform: scale(1) rotate(45deg);
    }
}
@keyframes flame {
    100% {
        -webkit-transform: scale(1) rotate(45deg);
        transform: scale(1) rotate(45deg);
    }
}
